/* CRIAR VARIAVEIS DE CORES, ETC DA APLICAÇÃO */
/* primária e a secundária */
:root {
  --cor-primaria: #ff8533;
  --cor-secundaria: #212a42;
  --cor-borda-input: #ff85336c;
}

.bg-img {
  background-image: url(../assets/coffe.jpg);
  background-size: cover;
  background-position: center;
}

.btn-primary {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria)
}

.btn-primary:hover {
  background-color: var(--cor-secundaria);
  border-color: var(--cor-secundaria)
}

.form-control:focus {
  border-color: var(--cor-primaria);
  box-shadow: var(--cor-borda-input);
}


.text-default {
  color: var(--cor-primaria)
}

.text-default:hover {
  color: var(--cor-secundaria)
}