header {
  background-image: url('../imagens/banner-initial.png');
	background-size: cover;
  background-position: center;
  background-color: black;
  opacity: 1
}


.btn-danger {
	--bs-btn-bg: #B6060F;
	--bs-btn-border-color: #B6060F;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #a5050f;
	--bs-btn-hover-border-color: #a5050f;
	--bs-btn-focus-shadow-rgb: 225,83,97;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #a5050f;
	--bs-btn-active-border-color: #a5050f;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #a5050f;
	--bs-btn-disabled-border-color: #a5050f;
}

footer {
	color: #757575;
}

li {
	list-style: none;
}